.container {
  @include flex-center;

  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.title {
  @include pretendard-28-500;

  color: $grey-800;
}

.logo {
  @include flex-center;

  width: 200px;
  height: 75px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.loginContainer {
  width: 400px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 33px;
}

.buttonWrapper {
  border-bottom: 1px solid $grey-400;
  width: 100%;
}

.memberButton {
  @include pretendard-20-500;

  width: 50%;
  border: none;
  background: none;
  padding-bottom: 10px;
  color: $grey-400;
  cursor: pointer;
}

.clicked {
  border-bottom: 1px solid $grey-700;
  color: $grey-800;
}

.inputContainer {
  @include flex-center;

  margin-top: 46px;
  width: 100%;
  border: 1px solid $grey-500;
  border-radius: 5px;
  background: none;
}

.form {
  @include flex-center;

  flex-direction: column;
  width: 100%;
  padding: 15px 20px;

  & > * {
    width: 100%;
  }

  & > div {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.label {
  @include pretendard-16-400;

  width: 100%;
}

.input {
  @include pretendard-14-400;

  width: 100%;
  padding: 3px 20px;
  height: 50px;
  border: 1px solid $grey-500;
  border-radius: 5px;
  background: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    @include pretendard-14-400;

    color: $grey-500;
  }

  &.error {
    border: 1px solid $red;
  }

  &.error::placeholder {
    color: $red;
  }
}

.loginButton {
  @include pretendard-18-500;

  width: 100%;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: $grey-800;
  color: $grey-50;
  cursor: pointer;
  margin-top: 20px;

  &:focus {
    outline: none;
  }
}

.signUpText {
  @include pretendard-16-400;

  color: $grey-600;
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 15px;
}

.inputWrapper {
  position: relative;
}

.deleteIconWrapper {
  @include flex-center;

  width: 18px;
  height: 18px;
  border: 1px solid $grey-400;
  border-radius: 50px;
  position: absolute;
  bottom: 31px;
  right: 20px;
  cursor: pointer;
  background: none;
}

.eyeIcon {
  position: absolute;
  right: 45px;
  bottom: 31px;
  cursor: pointer;
}
