.buttonGroup {
  @include flex-center; // flexbox 중앙 정렬

  gap: 10px; // 버튼 간격
}

.cancelButton {
  color: $grey-700;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  @include pretendard-24-400;
}

.submitButton {
  background-color: $grey-800;
  color: $grey-50;
  border: none;
  width: 102px;
  height: 49px;
  border-radius: 34px;
  cursor: pointer;
  @include pretendard-24-400;
  padding: 8px 25px;
}
