.container {
  @include pretendard-18-500;

  width: 100%;
  border: 1px solid $grey-600;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  line-height: 21px;
  cursor: pointer;
}

.tag {
  @include flex-center;
  @include pretendard-14-400;

  padding: 5px 10px;
  min-width: fit-content;
  padding-top: 6px;
  background-color: $grey-900;
  color: $grey-100;
  border-radius: 5px;
  line-height: normal;
  letter-spacing: -0.18px;
  border: none;

  &.read {
    margin-right: 14px;
  }
}

.moreButton {
  @include pretendard-16-500;

  border: none;
  color: $primary-400;
  background: none;
}

.isRead {
  background-color: $grey-200;
}

.pageRouteWrapper {
  display: flex;
}

.page {
  color: $grey-700;
  font-weight: 400;
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.arrow {
  stroke: $grey-800;
}

.content {
  margin-left: 20px;
  flex-grow: 2;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.trashIcon {
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
