@mixin navigation-button-style($size) {
  width: $size;
  height: $size;
  border-radius: 100px;
  background: none;
  cursor: pointer;
  padding: 0;
}

.container {
  position: relative;
  min-width: 100%;
}

.manageText {
  @include pretendard-18-500;

  color: $grey-600;
  cursor: pointer;
  margin-left: 10px;
}

.arrow {
  stroke: $grey-800;
}

.carouselWrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carouselContainer {
  width: 100%;
  height: max-content;
  overflow: hidden;
  margin: 0 auto;
  display: flex;

  &.buttonCenter {
    max-width: 690px;
    margin-left: 55px;
  }
}

.contentWrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  justify-content: center;
  gap: 45px;
}

.labelContainer {
  @include flex-space-between;

  margin-bottom: 15px;
  width: 100%;

  & > .label {
    @include pretendard-20-500;
  }
}

.navigationControls {
  display: flex;
  width: fit-content;
  margin-bottom: 10px;

  & > button {
    @include navigation-button-style(24px);

    border: none;
  }

  & > .disabled {
    stroke: #bdbdbd;
  }
}

.centerNavigationControls {
  @include flex-space-between;

  min-width: 800px;
  position: absolute;
  transform: translateY(200%);
  display: flex;
  justify-content: space-between;
  z-index: 10;

  & > button {
    @include navigation-button-style(45px);

    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  & > .disabled {
    border-color: $grey-400;
    stroke: $grey-400;
  }
}

.left {
  transform: rotate(180deg);
}
