.container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 800px;
}

.header {
  @include flex-space-between;
}

.title {
  @include pretendard-24-500;
  color: $grey-900;
  letter-spacing: -0.32px;
  margin-bottom: 18px;
}

.divider {
  width: 100%;
  height: 1px;
  background: $grey-500;
}

.content {
  @include flex-space-between;

  margin-top: 45px;
  margin-bottom: 45px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profileIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 30px;
}

.textContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.name {
  @include pretendard-26-500;

  color: $grey-900;
  letter-spacing: -0.36px;
}

.messageButton {
  width: 157px;
  height: 51px;
  border-radius: 50px;
  padding: 15px 20px;
  border: 1px solid $grey-400;
  background: $grey-50;
  cursor: pointer;
}

.messageText {
  @include pretendard-18-500;
  color: $grey-700;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
}

.infoBox {
  display: flex;
  width: 440px;
  height: 93px;
  border-radius: 5px;
  border: 1px solid $grey-400;
  padding: 10px 15px;
  gap: 20px;
  margin-bottom: 50px;
}

.infoItem {
  @include flex-center;

  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.dividerLine {
  width: 1px;
  height: 30px;
  background: $grey-300;
  margin-top: 45px;
}

.infoTitle {
  @include pretendard-16-500;

  color: $grey-500;
  margin-bottom: 12px;
  margin-top: 29px;
}

.infoValue {
  @include pretendard-20-500;

  color: $grey-800;
  margin-bottom: 29px;
}
