.container {
  display: flex;
  flex-direction: column;
}

.title {
  color: $grey-900;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.32px;
  margin-top: 130px;
}

.divider {
  width: 100%;
  height: 1px;
  background: $grey-900;
  margin-top: 15px;
}

.inputContainer {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.textArea {
  @include pretendard-16-500;

  width: 100%;
  height: 150px;
  border: 1px solid $grey-500;
  padding: 10px;
  resize: none;
}

.submitButton {
  @include pretendard-28-600;

  width: 150px;
  height: 150px;
  background: $grey-700;
  color: white;
  border: none;
  cursor: pointer;
}

.qnaItem {
  display: flex;
  margin-top: 30px;
}

.profile {
  flex-shrink: 0;
}

.profileIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #d9d9d9;
  margin-right: 15px;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  @include flex-space-between;
}

.id {
  @include pretendard-28-500;

  color: $grey-800;
}

.date {
  @include pretendard-18-500;

  color: $grey-500;
}

.question {
  @include pretendard-24-500;

  color: $grey-800;
  margin-top: 15px;
}

.actions {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 131px;
}

.actionButton {
  @include pretendard-18-400;

  color: $grey-500;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0;

  &:hover {
    color: $grey-800;
  }
}
