.button {
  @include pretendard-32-500;

  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: $primary;
  color: $grey-50;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #2865c7;
  }
}
