.container {
  height: fit-content;
  display: flex;
  flex-direction: column;

  & > * {
    font-weight: 500;
    cursor: pointer;
  }

  & > .mainTitle {
    font-size: 36px;
    color: #222;
    margin-bottom: 45px;
  }

  & > .subTitle {
    font-size: 32px;
    color: #757575;
    margin-bottom: 30px;
  }
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & > a {
    font-size: 24px;
    color: #757575;
    text-decoration: none;
  }
}
