.container{
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-bottom: 60px;
}

.tableContainer {
  width: 100%;
  border: 1px solid $grey-500;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tableTitle {
  @include pretendard-24-500;
  color: $grey-800;
  margin-bottom: 20px;
}

.titleDivider {
  border: 1px solid $grey-400;
  width: 100%;
  margin-bottom: 20px;
}

.tableHeader {
  @include grid-center(174px 1px 174px 1px 174px 1px 175px);
  @include pretendard-18-500;
  text-align: center;
  padding: 10px 0;
  background-color: $grey-100;
  color: $grey-600;
  border-bottom: 1px solid $grey-500;
}

.tableRow {
  @include grid-center(174px 1px 174px 1px 174px 1px 175px);
  text-align: center;
  padding: 10px 0;
  @include pretendard-18-500;
  color: $grey-800;
}

.divider {
  border: 1px solid $grey-400;
  width: 1px;
  height: 15px;
}

.buttonGroup {
  @include flex-center;
  width: 175px;
  gap: 10px;
}

.button {
  @include pretendard-14-500;
  width: 57px;
  height: 27px;
  background: $grey-800;
  color: $grey-50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}