.sectionWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  gap: 10px;
  margin-bottom: 40px;

  .sectionTitle {
    @include pretendard-24-500;
    color: $grey-800;
  }

  .sectionCategory {
    @include pretendard-20-500;
    color: $grey-600;
  }
}

.postcardHeader {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $grey-50;
  padding: 30px;
  gap: 20px;
  margin-bottom: 60px;
  border: 1px solid $grey-400;
  border-radius: 5px;

  .imagePlaceholder {
    @include flex-center;
    width: 80px;
    height: 80px;
    background-color: #d9d9d9;
  }

  .postcardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    gap: 5px;
  }

  .postCardCategory {
    @include pretendard-14-400;
    color: $grey-600;
  }

  .postCardTitle {
    @include pretendard-18-500;
    color: $grey-800;
  }

  .price {
    @include pretendard-16-500;
    color: $grey-800;
    margin: 0;
  }

  .ButtonContainer {
    @include flex-center;
    width: 5%;
  }

  .arrowButton {
    width:25px;
    height: 25px;
    background-image: url('../../assets/icons/arrow-button.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}