.header {
  @include flex-space-between;
  height: 105px;
  margin-bottom: 40px;
  border-bottom: 1px solid $grey-500;
}

.companyInfo {
  @include flex-space-between;
  gap: 20px;
}

.companyImage{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-style: none;
  background-color: #d9d9d9;
}

.companyName {
  @include pretendard-20-500;
  color: $grey-800;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actionButton {
  @include pretendard-16-500;
  border-style: none;
  background-color: transparent;
  color: $grey-600;
  cursor: pointer;
}

.buttonDivider {
  border: 1px solid $grey-400;
  height: 10px;
  margin: auto 9px;
}