.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 80px 0;
}

.tableContainer {
  width: 100%;
  border: 1px solid $grey-500;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tableTitle {
  @include pretendard-24-500;
  color: $grey-800;
  margin-bottom: 20px;
}

.titleDivider {
  border: 1px solid $grey-400;
  width: 100%;
  margin-bottom: 20px;
}

.tableHeader {
  @include grid-center(249px 1px 249px 1px 300px);
  @include pretendard-18-500;
  text-align: center;
  padding: 10px 0;
  background-color: $grey-100;
  color: $grey-600;
  border-bottom: 1px solid $grey-500;
}

.tableRow {
  @include grid-center(249px 1px 249px 1px 300px);
  text-align: center;
  padding: 10px 0;
  @include pretendard-18-500;
  color: $grey-800;
}

.divider {
  border: 1px solid $grey-400;
  width: 1px;
  height: 15px;
}