.container {
  height: fit-content;
  display: flex;
  flex-direction: column;

  & > * {
    font-weight: 500;
    cursor: pointer;
  }

  & > .mainTitle {
    @include pretendard-28-500;

    color: $grey-900;
    margin-bottom: 30px;
  }

  & > .subTitle {
    @include pretendard-24-500;

    color: $grey-900;
    margin-bottom: 30px;
  }
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & > a {
    @include pretendard-20-500;

    color: $grey-600;
    text-decoration: none;
  }

  & > a.clicked {
    color: $grey-800;
    font-weight: 700;
  }
}

.menuItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nonClickable {
  cursor: default;
}

.hasSubMenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subMenu {
  display: none;
  flex-direction: column;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hasSubMenu:hover .subMenu {
  display: block;
}

.subMenuItem {
  @include pretendard-18-500;
  transition: background 0.2s;
  color: $grey-400;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  & > *:last-child {
    margin-bottom: 0;
  }
}

.active {
  color: $grey-700;
}