@import 'mixins';
@import 'colors';

@mixin button-style {
  @include flex-center;

  border: none;
  font-size: $font-size-base;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }
}

@mixin outline-button-style($color) {
  background-color: $grey-50;
  color: $color;
  border: 1px solid $color;
}

@mixin filled-button-style($color) {
  background-color: $color;
  color: $grey-50;
  border: none;
}

.button {
  @include flex-center;

  cursor: pointer;

  &Small {
    font-size: $font-size-small;
  }

  &Medium {
    font-size: $font-size-base;
  }

  &Large {
    font-size: $font-size-large;
  }

  // 버튼 스타일
  &Outlined-grey500 {
    @include outline-button-style($grey-500);

    color: $grey-700;
  }

  &Outlined-grey700 {
    @include outline-button-style($grey-700);
  }

  &Outlined-primary {
    @include outline-button-style($primary);
  }

  &Filled-grey600 {
    @include filled-button-style($grey-600);
  }

  &Filled-grey700 {
    @include filled-button-style($grey-700);
  }

  &Filled-grey800 {
    @include filled-button-style($grey-800);
  }

  &Filled-grey300 {
    @include filled-button-style($grey-300);
  }

  &Filled-primary {
    @include filled-button-style($primary);
  }

  // 버튼 모양
  &Rounded {
    border-radius: 100px;
    border-style: none;
  }
}
