// 색상 변수
$colorPrimary: #4A90E2;
$colorSecondary: #999;
$backgroundColor: #F5F5F5;
$borderColor: #9E9E9E;
$textBoldColor: #222;
$textPrimaryColor: #424242;
$textSecondaryColor: #616161;

// 폰트 변수
$fontFamily: 'Pretendard', sans-serif;
$fontSizeBase: 18px;
$fontSizeSmall: 14px;
$fontSizeLarge: 24px;