.logo {
  @include flex-center;
  @include pretendard-18-500;

  width: 100px;
  height: 46px;
  background-color: #d9d9d9;
}

.container {
  @include flex-center;

  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-style: normal;
  line-height: normal;
}

.contentContainer {
  width: 400px;
}
