.container {
  @include flex-center;

  height: 100vh;
  flex-direction: column;
}

.logo {
  @include flex-center;

  width: 293px;
  height: 102px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  margin-bottom: 37px;
}

.headline {
  @include pretendard-32-500;

  text-align: center;
  margin-bottom: 76px;
}

.buttonWrapper {
  display: flex;
  gap: 19px;
}

.memberButton {
  @include flex-center;
  @include pretendard-24-500;

  width: 208px;
  height: 73px;
  border-radius: 36.5px;
  border: none;
  gap: 16.33px;
  cursor: pointer;

  & > span {
    margin-top: 2px;
  }
}

.individual {
  background-color: $grey-400;
}
