.container {
  @include flex-center;

  padding-top: 35px;
  padding-bottom: 48px;
}

.optionWrapper {
  display: flex;
  gap: 30px;
  margin-left: 48px;
}

.bottomPageWrapper {
  padding-left: 270px;
  border-bottom: 2px solid $grey-400;
  display: flex;
  gap: 45px;
  cursor: pointer;

  & > * {
    @include pretendard-20-500;

    padding-bottom: 15px;
    color: $grey-800;
    text-decoration: none;
  }
}

.optionWrapper > * {
  @include pretendard-16-500;

  color: $grey-800;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.clickedPage {
  @include flex-center;

  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding-bottom: 0;
}

.clickedPage::after {
  content: '';
  display: block;
  width: 60px;
  padding-bottom: 15px;
  border-bottom: 4px solid $grey-600;
}
