.container {
  @include flex-center;

  padding-top: 35px;
  padding-bottom: 48px;
}

.optionContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alarmWrapper {
  @include flex-center;

  width: 24px;
  height: 24px;
  border: 1px solid $grey-400;
  border-radius: 50px;
  cursor: pointer;
}

.optionWrapper {
  display: flex;
  gap: 30px;
  margin-left: 48px;
  line-height: 19px;
}

.bottomPageWrapper {
  padding-left: 270px;
  border-bottom: 2px solid $grey-400;
  display: flex;
  gap: 45px;
  cursor: pointer;
  position: relative;

  & > * {
    @include pretendard-20-500;

    padding-bottom: 15px;
    color: $grey-800;
    text-decoration: none;
  }
}

.optionWrapper > * {
  @include pretendard-16-500;

  color: $grey-800;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.clickedPage {
  @include flex-center;

  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding-bottom: 0;
}

.clickedPage::after {
  content: '';
  display: block;
  width: 60px;
  padding-bottom: 15px;
  border-bottom: 4px solid $grey-600;
}

.hoverMenu {
  @include pretendard-18-400;

  color: $grey-600;
  position: absolute;
  padding: 15px 20px;
  flex-direction: column;
  display: flex;
  gap: 15px;
  border-radius: 5px;
  border: 1px solid $grey-500;
  background-color: $grey-50;
  z-index: 100;
  top: 52px;

  & > a:hover {
    color: $grey-800;
  }

  &.ideaMarket {
    left: 252px;
  }

  &.request {
    left: 399px;
  }
}
