.container {
  @include flex-space-between;

  padding: 0 270px;
  padding-top: 35px;
  padding-bottom: 48px;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.optionContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.alarmContainer {
  @include flex-center;

  width: 24px;
  height: 24px;
  border: 1px solid $grey-500;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 1px;
  position: relative;

  &:hover {
    background-color: $grey-200;
  }
}

.alarmWrapper {
  position: absolute;
  top: 40px;
  width: 400px;
  height: 600px;
  z-index: 100;
  background-color: $grey-50;
  border-radius: 5px;
  box-shadow: -1px 6px 16px 3px rgb(0 0 0 / 10%);
}

.alarmWrapper > .title {
  @include pretendard-20-600;

  padding: 10px 20px;
  color: $grey-900;
}

.noToken {
  @include flex-center;
  @include pretendard-20-500;

  height: 100%;
  color: $grey-800;
  flex-direction: column;
  gap: 15px;
  background-color: $grey-200;

  & > .loginButton {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    color: $grey-50;
  }
}

.optionWrapper {
  display: flex;
  gap: 30px;
  line-height: 19px;
}

.bottomPageWrapper {
  padding-left: 270px;
  border-bottom: 2px solid $grey-400;
  display: flex;
  gap: 45px;
  cursor: pointer;
  position: relative;

  & > * {
    @include pretendard-20-500;

    padding-bottom: 15px;
    color: $grey-800;
    text-decoration: none;
  }
}

.optionWrapper > * {
  @include pretendard-16-500;

  color: $grey-800;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.clickedPage {
  @include flex-center;

  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding-bottom: 0;
}

.clickedPage::after {
  content: '';
  display: block;
  width: 60px;
  padding-bottom: 15px;
  border-bottom: 4px solid $grey-600;
}

.hoverMenu {
  @include pretendard-18-400;

  color: $grey-600;
  position: absolute;
  padding: 15px 20px;
  flex-direction: column;
  display: flex;
  gap: 15px;
  border-radius: 5px;
  border: 1px solid $grey-500;
  background-color: $grey-50;
  z-index: 100;
  top: 47px;

  & > a:hover {
    color: $grey-800;
  }

  &.ideaMarket {
    left: 252px;
  }

  &.request {
    left: 399px;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}
