.container {
  position: absolute;
  top: 40px;
  z-index: 100;
  background-color: $primary-50;
  border-radius: 10px;
  box-shadow: -1px 6px 16px 3px rgb(0 0 0 / 10%);
  right: -150px;
  width: 300px;
  padding: 20px;

  &:hover {
    color: $grey-800;
  }
}

.infoWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.profileImage {
  min-width: 70px;
  height: 70px;
  border-radius: 300px;
  margin-right: 20px;

  &.skeletonImage {
    background-color: $grey-200;
  }
}

.userNameWrapper > .userName {
  @include pretendard-24-600;
}

.userNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 150px;
  height: 70px;
}

.myPageButton {
  color: $grey-50;
  background-color: $primary;
  padding: 10px 20px;
  border-radius: 10px;
  height: fit-content;
}

.postCountContainer {
  border-bottom: none;
  border-radius: 5px;
  padding: 0 5px;
  background-color: $grey-50;
  box-shadow: -1px 6px 16px 3px rgb(0 0 0 / 5%);
}

.myInfoContainer {
  top: 100px;
  cursor: pointer;
}

.labelWrapper,
.contentWrapper {
  @include flex-space-between;

  width: 100%;

  & > .content {
    @include pretendard-16-400;

    text-align: center;
    width: 75px;
    padding: 5px 7px;
    color: $primary-dark-100;
  }

  & > .label {
    @include pretendard-16-600;
  }

  & > .speciallizations {
    width: 40%;
  }
}

.logoutButton {
  @include pretendard-18-500;

  border: none;
  background: none;
  color: $primary;
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.skeletonXs {
  width: 40px;
  border-radius: 5px;
  height: 20px;
  background-color: $grey-200;
}

.skeletonS {
  width: 80px;
  border-radius: 5px;
  height: 30px;
  background-color: $grey-200;
}

.skeletonContent {
  width: 100%;
  border-radius: 5px;
  height: 60px;
  background-color: $grey-200;
  margin-bottom: 15px;
}
