$rounded-all: 5px;
$rounded-top: 5px 5px 0 0;

.input {
  width: 550px;
  padding: 10px 15px;
  border: 1px solid $primary;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background: none;
  margin: 0 20px;

  &.roundedAll {
    border-radius: $rounded-all;
  }

  &.roundedTop {
    border-radius: $rounded-top;
  }
}

.recentSearchWrapper {
  @include pretendard-16-400;

  position: absolute;
  padding: 23px 0;
  color: $grey-700;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  top: 45px;
  left: 0;
  border-radius: 0 0 10px 10px;
  background-color: $grey-50;
  box-shadow: -1px 6px 16px 3px rgb(0 0 0 / 5%);
}

.spaceBetween {
  @include flex-space-between;

  width: 100%;
  padding-left: 23px;
  padding-right: 23px;
}

.recentSearch {
  @include pretendard-18-400;

  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;

  &:hover {
    background-color: $grey-400;
  }

  & > div {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

.inputText {
  @include pretendard-14-400;

  width: 90%;
  border: none;
  color: $grey-600;

  &:focus {
    outline: none;
  }
}

.hoverUnderline {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.noHistoryText {
  @include pretendard-20-500;
  @include flex-center;

  height: 200px;
}
