.postCard {
  width: 100%;
  //padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 5%);
}

.postHeader {
  width: 250px;
  // @include flex-space-between;
  width: 100%;
  margin-bottom: 12px;

  .postImage {
    position: relative;
    width: 250px;
    height: 250px;
    background: $grey-50;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .price {
    position: absolute;
    color: $grey-900;
    @include pretendard-20-500;
    line-height: 23.87px;
  }

  .title{
    position: absolute;
    @include pretendard-18-600;
    color: $grey-50;
    margin-bottom: 10px;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
  }
}

.postContent {
  //flex: 1;
  width: 100%; 

  .profileImage {
    background-color: #d9d9d9;
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
  }

  .userInfo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .username {
    font-size: 16px;
  }

  p {
    margin: 4px 0;
  }


  .deadline {
    @include pretendard-14-500;
    color: $grey-50;
    background-color: $primary;
    width: 54px;
    height: 29px;
    border-radius: 17.5px;
    text-align: center;
    margin-bottom: 17px;
  }

  .memberInfo {
    font-size: 14px;
    color: $grey-600;
  }
}
