.postListWrapper {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.title {
  @include pretendard-24-500;
  color: $grey-800;
  margin-bottom: 20px;
}

.count {
  @include pretendard-18-500;
  color: $grey-800;
  margin-top: 20px;
  margin-bottom: 25px;
}

.postList {
  @include grid-center(145px 145px 145px 145px);
  gap: 40px;
}

.clickablePost {
  cursor: pointer;

  &:hover {
    transition: background-color 0.3s ease;
  }
}
