.container {
  width: 312px;
  border: 0.5px solid $grey-400;
  border-radius: 5px;
}

.profileSection {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;

  & > span {
    @include pretendard-14-500;

    color: $grey-800;
  }
}

.profileImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.verifiedBadge {
  @include pretendard-12-500;

  padding: 2px 8px;
  background-color: #006ac6;
  color: white;
  border-radius: 4px;
}

.thumbnailImage {
  width: 312px;
  height: 372px;
  background-color: $grey-400;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contentSection {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > p {
    @include pretendard-14-500;

    color: $grey-800;
  }
}

.priceSection {
  @include flex-space-between;

  & > span {
    @include pretendard-16-500;

    color: $grey-800;
  }

  & > button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }
}

.bookmarkIcon {
  width: 20px;
  height: 20px;
  color: $grey-600;

  &.bookmarked {
    fill: $grey-600;
  }

  &:hover {
    color: $grey-800;
  }
}
