@import './commonStyle.module';

.portfolioTitle {
  @include pretendard-20-500;
}

.manageText {
  @include pretendard-20-500;

  color: $grey-500;
  cursor: pointer;
}

.portfolioWrapper {
  width: 100%;
}
