@import './commonStyle.module';

.skillInfoWrapper {
  width: 320px;
  height: max-content;
  border: 1px solid $grey-500;
  border-radius: 5px;
  overflow: hidden;
}

.labelWrapper {
  @include flex-space-between;

  width: 100%;
  border-bottom: 1px solid $grey-500;
  background-color: $grey-100;
  padding: 10px 0;

  & > .label {
    @include pretendard-18-500;

    width: 50%;
    text-align: center;
    color: $grey-600;
    line-height: normal;
    letter-spacing: -0.18px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.list {
  @include pretendard-16-500;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: -0.18px;

  & > * {
    width: 160px;
    padding: 10px 0 0;
    line-height: normal;
    letter-spacing: -0.18px;
    text-align: center;
  }

  & > .skillName {
    height: max-content;
  }

  & > .skillLevel {
    color: $primary;
  }
}

.tableDivider {
  width: 1px;
  height: 15px;
  background-color: $grey-500;
  margin-bottom: 3px;
}

.skillInput {
  display: flex;
  height: 70px;
  margin-top: 20px;
}

.skillNameInput {
  @include pretendard-18-400;

  color: $grey-500;
  height: 54px;
  flex-grow: 1;
  background-color: $grey-50;
  border-radius: 5px 0 0 5px;
  border: 1px solid $grey-500;
  padding: 15px 20px;

  &:focus {
    outline: none;
  }
}

.levelCheckboxWrapper {
  height: 54px;
  border-radius: 0 5px 5px 0;
  border: 1px solid $grey-500;
  border-left: none;
}
