.container {
  width: 100%;
  margin-bottom: 45px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.portfolio {
  width: 199px;

  & > .image {
    width: 200px;
    height: 200px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  & > .title {
    margin-bottom: 5px;
    font-size: 20px;
  }

  & > .date {
    font-size: 16px;
    font-weight: 400;
  }
}
