.container {
  width: 100%;
}

.postWrapper {
  min-width: 165px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  & > .image {
    width: 165px;
    height: 165px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }

  & > .title {
    @include pretendard-14-400;

    height: 100px;
    text-align: center;
  }
}
