.container {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: flex-start;
  position: relative;
  width: 800px;
}

.leftSection {
  width: 210px;
  height: 210px;
  flex-shrink: 0;
  background: $grey-300;
  @include flex-center;
  color: $grey-700;
}

.placeholderBox {
  text-align: center;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.rightSection {
  flex-grow: 1;
  margin-left: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.text {
  color: $grey-500;
  @include pretendard-18-400;
  letter-spacing: -0.2px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  transform: rotate(360deg);
}

.titleContainer {
  display: flex;
  align-items: wrap;
  align-items: center;
  gap: 8px;
  margin-top: 13px;
}

.title {
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  color: $grey-800;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  @include pretendard-26-500;
  letter-spacing: -0.36px;
}

.price {
  color: $grey-800;
  @include pretendard-24-600;
  margin-bottom: 4px;
}

.details {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.date,
.info {
  color: $grey-600;
  @include pretendard-16-400;
}

.dotIcon {
  width: 3px;
  height: 3px;
  fill: $grey-400;
}

.bookmarkButton {
  position: absolute;
  right: 19px;
  top: -5px;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  @include flex-center;
}

.outerCircle {
  width: 40px;
  height: 40px;
}

.bookmarkIcon {
  width: 24px;
  height: 24px;
  position: absolute;
}

.purchaseButton {
  width: 149px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  background: $primary;
  color: $grey-50;
  @include pretendard-20-500;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  position: absolute;
  bottom: -9px;
  right: 16px;
  cursor: pointer;
  border: none;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
