.container {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
    position: relative;
  }
  
  .leftSection {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    background: var(--Grey-Grey-300, #E0E0E0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--Grey-Grey-700, #616161);
  }
  
  .placeholderBox {
    text-align: center;
  }
  
  .rightSection {
    flex-grow: 1;
    margin-left: 50px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .text {
    color: var(--Grey-Grey-500, #9E9E9E);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.2px;
  }
  
  .arrowIcon {
    width: 28px;
    height: 28px;
    transform: rotate(-180deg);
  }
  
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .title {
    color: var(--Grey-Grey-800, #424242);
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.36px;
  }
  
  .price {
    color: var(--Grey-Grey-800, #424242);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .details {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
  }
  
  .date,
  .info {
    color: var(--Grey-Grey-600, #757575);
    font-size: 18px;
    font-weight: 400;
  }
  
  .dotIcon {
    width: 4px;
    height: 4px;
    fill: var(--Grey-Grey-400, #BDBDBD);
  }
  
  .bookmarkButton {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    @include flex-center;
    margin-top: 30px;
  }
  
  .outerCircle {
    width: 45px;
    height: 45px;
  }
  
  .bookmarkIcon {
    width: 24px;
    height: 24px;
    position: absolute;
  }
  
  .purchaseButton {
    width: 260px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--blue-blue-04-main, #377FF8);
    color: var(--Grey-Grey-50, #FAFAFA);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.26px;
    @include flex-center;
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    border: none;
  }
  