@mixin input {
  @include pretendard-14-400;

  border-radius: 5px;
  border: 1px solid $grey-500;
  padding: 10px 20px;
  background: none;

  &::placeholder {
    @include pretendard-14-400;

    color: $grey-500;
  }

  &:focus {
    outline: none;
  }
}

.container {
  padding: 15px 0;
}

.label {
  @include pretendard-20-500;

  color: $grey-800;
  margin-bottom: 20px;
  margin-top: 15px;
}

.errorMessage {
  @include pretendard-11-400;

  color: $red;
  margin-top: 10px;
}

.defaultInput {
  @include input;

  width: 100%;
  height: 50px;
}
