@import './commonStyle.module';

.individualInfoWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.individualInfoWrapper > .list {
  @include pretendard-28-500;

  color: $grey-800;
  letter-spacing: -0.28px;
  display: flex;

  & > .label {
    min-width: 75px;
  }
}

.inputContainer {
  width: 100%;
  display: flex;
  height: 65px;
  margin-top: 15px;
  margin-bottom: 28px;

  & > * {
    @include pretendard-24-400;

    color: $grey-700;
    background-color: $grey-50;
  }
}

.dropdown {
  width: 200px;
  padding: 18px 20px;
  border-radius: 5px 0 0 5px;
  height: 65px;
}

.input {
  padding: 18px 20px;
  border: 1px solid $grey-500;
  border-radius: 0 5px 5px 0;
  border-left: none;
  flex-grow: 2;
  margin-right: 11px;

  &:focus {
    outline: none;
  }
}

.publicCheckWrapper {
  @include flex-space-between;
  @include pretendard-16-400;

  flex-direction: column;
  color: $grey-500;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid $grey-500;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
