@mixin toast-style($backgroundColor, $mainColor) {
  background-color: $backgroundColor;
  border-left: 5px solid $mainColor;
}

.toastContainer {
  @include flex-space-between;
  @include toast-style($primary-100, $primary);

  min-width: 400px;
  position: fixed;
  top: 10px;
  height: 70px;
  left: calc(50% - 200px);
  color: $grey-800;
  padding: 5px 15px;
  border-radius: 5px;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &.error {
    @include toast-style(#ffc3c3, $red);
  }

  &.success {
    @include toast-style(#b5ebb5, $green);
  }
}

.rowContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.content {
  @include pretendard-14-400;

  margin-left: 35px;
}

.title {
  @include pretendard-20-600;

  line-height: normal;
  padding-top: 2px;
  height: 30px;
}

.deleteIcon {
  cursor: pointer;
}

.errorIcon {
  transform: scale(0.7);
  width: 25px;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
