.container {
  @include flex-center;

  padding-top: 32px;
  border-bottom: 1px solid #757575;
}

.input {
  width: 650px;
  padding: 16px 25px;
  background-color: #eee;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.inputText {
  width: 90%;
  font-size: 18px;
  border: none;
  background-color: #eee;
  color: #9e9e9e;

  &:focus {
    outline: none;
  }
}
