.subInfoWrapper {
  width: 440px;
  height: 93px;
  border: 1px solid $grey-600;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin: 40px 0;
  margin-bottom: 80px;
  align-items: center;

  & > div {
    @include flex-center;

    flex-direction: column;
    width: 200px;
    gap: 10px;
  }
}

.title {
  @include pretendard-24-500;

  width: 100%;
  border-bottom: 1px solid $grey-600;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & > a {
    @include pretendard-18-500;

    color: $grey-600;
  }
}

.subTitle {
  @include pretendard-16-500;

  color: $grey-700;
}

.contentContainer {
  margin: 40px 0 80px;
}

.content {
  @include pretendard-20-500;

  color: $grey-700;
}

.introduceContent {
  @include pretendard-18-500;

  color: $grey-800;
  line-height: normal;
  letter-spacing: -0.18px;
}

.recentNewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loadingIconWrapper {
  @include flex-center;

  width: 100%;
  height: 300px;
}

.noDataText {
  @include pretendard-18-400;

  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
