.postcardDetails {
  padding: 20px;

  .postcardHeader {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 25px 45px;
    margin-bottom: 20px;

    .imagePlaceholder {
      @include flex-center;
      width: 100px;
      height: 100px;
      background-color: #f0f0f0;
      margin-right: 20px;
    }

    .postcardInfo {
      h1 {
        font-size: 20px;
        margin: 0;
      }

      p {
        font-size: 24px;
        color: #555;
      }
    }
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .purchaseTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f9f9f9;
    }
  }

  .messageButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #616161;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}