.container {
    @include flex-column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: $grey-50;
    padding: 40px 0;
}
  
.content {
    @include flex-column;
    flex-grow: 1;
    justify-content: center;
}
  
.logo {
    margin-bottom: 24px;
}

.title {
    @include pretendard-32-600;
    align-self: stretch;
    color: $grey-900;
    text-align: center;
    font-style: normal;
    line-height: normal;
    margin-bottom: 8px;
}

.subtitle {
    @include pretendard-20-500;
    align-self: stretch;
    color: $grey-700;
    text-align: center;
    font-style: normal;
    line-height: normal;
    margin-bottom: 32px;
}