.label {
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 17.5px;
  border: 1px solid $grey-600;
  background: $grey-50;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.text {
  color: $grey-800;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}
