.label {
  background-color: $primary-dark;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  padding: 5px 10px;
  line-height: normal;
  letter-spacing: -0.16px;
  gap: 10px;
  width: auto;
  height: auto;
  width: fit-content;
}

.text {
  @include pretendard-14-500;
  color: $grey-50;
}