.label {
  @include flex-center;
  width: 93x;
  height: 24px;
  background-color: $grey-50;
  border-radius: 35px;
  border: 1px solid $grey-400;
}

.text {
  @include pretendard-12-500;
  color: $grey-800;
}