.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-dark;
  border-radius: 35px;
  padding: 5px 10px;
  //margin-bottom: 17px;
}

.text {
  @include pretendard-14-500;
  color: $grey-50;
}