.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  padding: 5px 10px;
  line-height: normal;
  letter-spacing: -0.16px;
  gap: 10px;
  width: fit-content;
}

// 기업
.corporate {
  background-color: $orange;
  color: $grey-50;
  @include pretendard-14-500;
}

// 기업 공개
.corporatePublic {
  color: $grey-50;
  background: $grey-800;
  @include pretendard-16-400;
}

// 개인
.personal {
  background: $primary;
  color: $grey-50;
  @include pretendard-14-500;
}

// 자체 공모
.selfOffer {
  background: #8a8a8a;
  color: #000;
  @include pretendard-16-400;
}

// 전체 공개
.entire {
  background: $grey-800;
  color: $grey-50;
  @include pretendard-16-400;
}

// 수락됨
.accept {
  border-radius: 17.5px;
  background: $primary;
  color: $grey-50;
  @include pretendard-14-500;
}

// 거절됨
.reject {
  border-radius: 17.5px;
  background: $red;
  color: $grey-50;
  @include pretendard-14-500;
}

// 구매 완료
.purchaseCompleted {
  background: $grey-700;
  color: $grey-50;
}
