.label {
  width: 59px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #8a8a8a;
  @include flex-center;
}

.text {
  color: #000;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
