.details {
  @include pretendard-14-500;

  cursor: pointer;
  color: $grey-700;
}

.paymentSummary {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    @include pretendard-24-500;
    margin-top: 50px;
    align-self: flex-start;
    color: $grey-900;
    letter-spacing: -0.24px;
  }

  .summaryBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    height: 202px;
    padding: 30px 45px;
    border-radius: 5px;
    border: 1px solid $grey-400;
  }

  .line {
    width: 710px;
    border-bottom: 1px solid $grey-900;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .label {
    @include pretendard-20-400;

    color: $grey-700;
    letter-spacing: -0.28px;
  }

  .value {
    @include pretendard-20-400;

    width: 200px;
    text-align: right;
    color: $grey-700;
    letter-spacing: -0.28px;
  }

  .total {
    @include flex-space-between;

    width: 100%;
  }

  .totalLabel {
    // color: $grey-700;
    @include pretendard-20-400;

    letter-spacing: -0.28px;

    .highlight {
      color: $primary;
    }
  }

  .totalValue {
    @include pretendard-20-400;

    color: $primary;
    letter-spacing: -0.28px;
  }

  .agreementBox {
    width: 800px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
  }

  .agreementTitle,
  .agreementRow {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .agreementTitle {
    @include pretendard-20-500;

    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: $grey-900;
    letter-spacing: -0.28px;
  }

  .agreementRow {
    @include flex-space-between;
    padding: 4px 0;
    width: 800px;
  }

  .agreementLabel {
    @include pretendard-16-400;

    flex: 1;
    color: $grey-600;
    letter-spacing: -0.12px;
    margin-left: 25px;
  }

  .details {
    @include pretendard-16-400;
    color: $grey-700;
    letter-spacing: -0.16px;
  }

  .checkBackground {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .noneCheckBackground {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .checkIcon {
    position: absolute;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
    //margin-left: 4px;
    //margin-top: 4px;
    
    margin-right: 10px;
  }

  .checkIcon.active {
    fill: $primary;
  }
}

.checkButton {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}
