.paymentButton {
  @include pretendard-32-600;

  margin-top: 45px;
  margin-bottom: 45px;
  width: 950px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 10px;
  letter-spacing: -0.32px;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background 0.3s;

  &.active {
    background: $primary;
    color: $grey-50;
  }

  &.disabled {
    background: $grey-400;
    color: $grey-300;
    cursor: not-allowed;
  }
}
