.details {
  @include pretendard-14-500;

  cursor: pointer;
  color: $grey-700;
}

.paymentSummary {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    @include pretendard-32-600;

    margin-top: 45px;
    align-self: flex-start;
    color: $grey-900;
    letter-spacing: -0.32px;
  }

  .summaryBox {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 950px;
    padding: 30px 45px;
    border-radius: 5px;
    border: 1px solid $grey-400;
  }

  .line {
    width: 100%;
    height: 1px;
    background: $grey-500;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .label {
    @include pretendard-28-500;

    color: $grey-700;
    letter-spacing: -0.28px;
  }

  .value {
    @include pretendard-28-500;

    width: 200px;
    text-align: right;
    color: $grey-700;
    letter-spacing: -0.28px;
  }

  .total {
    @include flex-space-between;

    width: 100%;
  }

  .totalLabel {
    // color: $grey-700;
    @include pretendard-28-500;

    letter-spacing: -0.28px;

    .highlight {
      color: $primary;
    }
  }

  .totalValue {
    @include pretendard-28-500;

    color: $primary;
    letter-spacing: -0.28px;
  }

  .agreementBox {
    width: 950px;
    background: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .agreementTitle,
  .agreementRow {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .agreementTitle {
    @include pretendard-28-600;

    margin-top: 45px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $grey-900;
    letter-spacing: -0.28px;
  }

  .agreementRow {
    @include flex-space-between;

    padding: 8px 0;
  }

  .agreementLabel {
    @include pretendard-24-400;

    flex: 1;
    color: $grey-600;
    letter-spacing: -0.24px;
  }

  .details {
    @include pretendard-24-400;

    flex-shrink: 0;
    color: $grey-700;
    letter-spacing: -0.24px;
    margin-left: 16px;
  }

  .checkBackground {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  .noneCheckBackground {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  .checkIcon {
    position: absolute;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 4px;
  }

  .checkIcon.active {
    fill: $primary;
  }
}

.checkButton {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}
