.paymentTitle {
  width: 100%;
}

.title {
  @include pretendard-26-500;
  margin-top: 40px;
}

.content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 800px;
  height: 120px;
  flex-shrink: 0;
}

.image {
  width: 120px;
  height: 120px;
  background-color: #d9d9d9;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.price {
  @include pretendard-24-500;
}

.description {
  @include pretendard-20-500;
}

.quantityContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-left: auto;
}

.quantityLabel {
  color: $grey-500;
  text-align: center;
  @include pretendard-18-500;
  letter-spacing: -0.28px;
}

.quantityBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 33px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid $grey-400;
  background: $grey-50;
}

.quantity {
  color: $grey-700;
  @include pretendard-16-400;
  letter-spacing: -0.2px;
  display: inline-block;
  min-width: 30px; 
  text-align: right; 
}

.buttonGroup {
  display: flex;
  flex-direction: column;
}

.upButton,
.downButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  @include flex-center;
  width: 12px;
  height: 18px;
}

.upIcon {
  width: 12px;
  height: 12px;
}

.downIcon {
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
}

.errorOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  @include flex-center;
  z-index: 999;
}

.errorModal {
  width: 402px;
  height: 155px;
  border-radius: 5px;
  border: 1px solid $grey-400;
  background: #fff;
  flex-direction: column;
  @include flex-center;
  z-index: 1000;
}

.errorHeader {
  width: 400px;
  height: 70%;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid $grey-400;
  background: $grey-100;
}

.errorContent {
  color: $grey-900;
  text-align: center;
  @include pretendard-18-500;
  letter-spacing: -0.18px;
  padding: 15px;
  margin-top: 10px;
}

.errorButton {
  width: 85px;
  height: 30px;
  border-radius: 4.5px;
  border: 1px solid $grey-400;
  background: $grey-100;
  color: $grey-900;
  text-align: center;
  @include pretendard-16-400;
  letter-spacing: -0.18px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}