.paymentMethods {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    @include pretendard-32-600;

    margin-top: 45px;
    color: $grey-900;
    letter-spacing: -0.32px;
  }

  .buttonContainer {
    margin-top: 45px;
    display: flex;
    gap: 16px;
    width: 950px;
    height: 90px;
    flex-shrink: 0;
  }

  .button {
    @include flex-center;
    @include pretendard-28-600;

    width: 300px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid $grey-400;

    // background: #f0f0f0;
    background-color: white;
    color: $grey-500;
    letter-spacing: -0.28px;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }

    &:active {
      background: $grey-300;
    }
  }

  .selected {
    background-color: #f0f0f0;
    color: $grey-900;
    border-color: #f0f0f0;
  }
}
