.sellerInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    @include pretendard-24-500;
    margin-top: 50px;
  }

  .infoBox {
    @include flex-space-between;

    margin-top: 20px;
    width: 800px;
    height: 65px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $grey-400;
  }

  .profile {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background-color: #d9d9d9;
    border-radius: 50%;
  }

  .name {
    @include pretendard-20-400;
  }

  .email {
    @include pretendard-20-400;

    width: 550px;
    flex-shrink: 0;
    color: $grey-900;
    text-align: right;
    letter-spacing: -0.32px;
    line-height: normal;
  }
}
