.sellerInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    @include pretendard-32-600;

    margin-top: 45px;
  }

  .infoBox {
    @include flex-space-between;

    margin-top: 45px;
    width: 950px;
    padding: 30px 45px;
    border-radius: 5px;
    border: 1px solid $grey-400;

    // background: var(--Grey-Grey-50, #fafafa);
  }

  .profile {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: #d9d9d9;
    border-radius: 50%;
  }

  .name {
    @include pretendard-32-600;
  }

  .email {
    @include pretendard-32-400;

    width: 399px;
    flex-shrink: 0;
    color: $grey-500;
    text-align: right;
    letter-spacing: -0.32px;
    line-height: normal;
  }
}
